@import 'junto-design-system/dist/core/scss/styles.scss';

.upload-documents-skeleton__wrapper {
  & > div:first-child {
    margin-bottom: spacing('s');
  }

  & > div:nth-child(2) {
    margin-bottom: spacing('l');
  }

  & > div:nth-child(3) {
    margin-bottom: spacing('l');
  }
}
