@import 'junto-design-system/dist/core/scss/styles.scss';

.proposal-particularities__wrapper,
.proposal-particularities__description {
  display: flex;
  flex-direction: column;
  gap: spacing('l');
}

.proposal-particularities__title {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0;
}

.proposal-particularities__description {
  & > div:last-child {
    margin-top: spacing('m');

    & > p {
      margin-bottom: 0;
    }
  }
}
