@import 'junto-design-system/dist/core/scss/styles.scss';

.quote-container__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > header {
    width: calc(100% - 479px);
    align-self: flex-start;
  }

  @media screen and (max-width: 1080px) {
    & > header {
      width: calc(100% - 359px);
    }
  }

  @media screen and (max-width: 768px) {
    & > header {
      width: 100%;
    }
  }
}

.quote-container__flow-wrapper {
  display: flex;
  max-width: 887px;
  flex-direction: column;
  padding: spacing('xxl-4') spacing('xxl-8');
  justify-self: center;
  margin-right: 479px;
  margin-top: spacing('xxl-6');
  box-sizing: border-box;

  @media screen and (max-width: 1080px) {
    padding: spacing('xxl-4') spacing('xl');
    margin-right: 364px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 0;
    padding: spacing('xxl-2') spacing('xl') spacing('xxl-4') spacing('xl');
  }

  @media screen and (max-width: 576px) {
    margin-top: 0px;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      display: block;
    }
  }
}
