@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dashboard-container__wrapper {
  margin-top: spacing('xxl-3');
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 200ms linear;
}

.dashboard-container__modalities-title {
  @include font('l-emphasys');
  margin-bottom: 0px;
  margin-top: spacing('xxl-5');
}

.dashboard-container__tabs-wrapper {
  margin-top: spacing('xl');
}

@media screen and (max-width: 1008px) {
  .dashboard-container__wrapper {
    max-width: 100%;
    padding-left: spacing('l');
    padding-right: spacing('l');
    margin-top: spacing('xl');
    box-sizing: border-box;
  }

  .dashboard-container__modalities-title {
    margin-top: spacing('xxl-3');
  }
}
