@import 'junto-design-system/dist/core/scss/styles.scss';

.broker_data_review_container_wrapper {

}

.broker_data_review_container_container_logo{
  padding: spacing('xl') spacing('m') spacing('xl') spacing('xl');
  }

.broker_data_review_container_section_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.broker_data_review_container_title{
  width: 604px;
  margin: 0 auto;
  padding: spacing('xxl-3') 0 spacing('xxl-3') 0;
  & span{
    @include font('xl-2-emphasys');
  }

  @media screen and (max-width: 680px) {
    width: 87%;
    padding: spacing('xxl-2') 0 spacing('xxl-3') 0;

    & span{
      @include font('xl-emphasys');
    }
  }

  @media screen and (min-width: 1680px) {
    padding-top: 80px;
  }
}

.broker_data_review_container_section_form_broker_data{
  width: 640px;
  margin: 0 auto;
  border: 1px solid color('grey-200');
  border-radius: spacing('s');
  text-align: left;
  margin-bottom: spacing('l');

  & h1{
    @include font('l-emphasys');
    padding: 0 188px spacing('xl') spacing('xl');
    margin: 0
  }

  & h3{
    @include font('xs');
    color: color('grey-600');
    padding: 0 188px 4px spacing('xl');
    margin-bottom: 2px;
    margin: 0
  }

  & h5{
    @include font('l');
    color: color('dark');
    padding: 0 32px spacing('l') spacing('xl');
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
  }

  @media screen and (max-width: 680px) {
    width: 87%;

    & h1{
      @include font('l');
      padding: 0 0 0 spacing('xl');
      color: color('dark');
      margin: 0;
      font-weight: 600;
    }

    & h3{
      @include font('xs');
      color: color('grey-600');
      padding: spacing('l') 86px 0 spacing('xl');
      margin-bottom: 2px;
      margin: 0
    }

    & h5{
      @include font('l');
      color: color('dark');
      display: flex;
      padding: 0 spacing('l') 0 spacing('xl') !important;
      margin: 0;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

.broker_data_review_container_section_form_broker_data_contet{
  padding: 40px 0 spacing('m') 0;
}

.broker_data_review_container_alert{
  margin: 0 auto;
  text-align: left;
  padding-bottom: spacing('xxl-3');
}

.broker_data_review_container_section_form_broker_data_contet_button{
  width: 65px;
  align-items: flex-start;
  display: flex;
  padding-left:  spacing('xl');

  & > button {
    width: 65px;
    color: color('dark');
    height: 40px
  }

  & > button > span {
   padding-bottom: 18px
  }

  & h5{
    @include font('xs');
    color: color('brand-primary');
    padding: 0 188px 40px 0;
    font-weight: 600;
    margin: 0
  }

  @media screen and (max-width: 680px) {
    align-items: flex-start;
    padding-right: spacing('l');
  }
}

.broker_data_review_container_section_form_broker_data_contet_header{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.broker_data_review_container_section_form_broker_data_contet_bank_information{
  display: grid;
  grid-template-columns: 2fr 2fr;

  & h5{
    @include font('l');
    color: color('dark');
    padding: 0 0 spacing('l') spacing('xl');
    margin: 0;
  }
  @media screen and (max-width: 680px) {
    display: contents;
  }
}

.broker_data_review_button{
  & > button {
  width: 312px;
  }
  padding-bottom: 144px;
}


