@import 'junto-design-system/dist/core/scss/styles.scss';

.policy-renewal__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: spacing('l');
  margin: spacing('m') 0 spacing('m') 0;
}

.policy-renewal__title {
  @include font('sm');
  @include color('color', 'dark');
  margin: 0;
}

.policy-renewal__toggle {
  display: flex;
  align-items: center;

  & > div {
    width: auto;
  }
}

.policy-renewal__tooltip {
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  padding: 0px;

  & > i {
    @include color('color', 'brand-primary');
  }
}

.policy-renewal__options,
.policy-renewal__main-policy-number {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.policy-renewal__main-policy-number {
  & > button {
    max-width: 192px;
  }
}
