@import 'junto-design-system/dist/core/scss/styles.scss';

.uploader__wrapper {
    margin: 0 auto;
    text-align: justify;

    & > div:nth-child(6) {
     padding-bottom: 0 ;
    }
}

.upload_label{
  @include font('base');
}

.uploader__downloader {
  width: 100%;
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.uploader__list {
  width: 312px;
  & > div:nth-child(1){
    margin: 0;
  }
  & > div:nth-child(1) > div:nth-child(2) {
    width: 312px;
  }
}

.uploader__list_proof-bank{
  width: 312px;
  margin: 24px 0 -32px 0;
  & > div:nth-child(1){
    margin: 0;
  }
  & > div:nth-child(1) > div:nth-child(2) {
    width: 312px;
  }
}
.upload_field{
  padding:16px 0 24px 0;

  & > div{
    text-align: start;
  }

  & > div:nth-child(2){
    width: 312px;
  }

  &>div>div>label{
    font-size: 14px;
  }
}

.broker_upload__button{
  width: 312px;
  margin: 0 auto;
  padding:  spacing('xxl') 0 spacing('xxl-5') 0 ;
  & button {
    width: 312px;
  }

  @media screen and (max-width: 680px) {
    padding-bottom: spacing('xxl-2');
  }
}
