@import 'junto-design-system/dist/core/scss/styles.scss';

.proposal-comments__wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('m');

  & > div > div {
    min-width: auto;
  }

  & > div > span {
    margin: 0;
  }
}

.proposal-comments__text {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0;
}
