/node_modules
/build
/coverage
/storybook-static
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintignore
.lintstagedrc.json
.prettierignore
/src/core/templates/*
/tools/generators/*
*.scss
*.css
*.json
*.html
*.png
*.svg
*.md
**/jest.preset.js
**/webpack.config.js
**/.gitkeep
**/.browserslistrc
