@import 'junto-design-system/dist/core/scss/styles.scss';

.policyholder-appointment-letter__wrapper {
  width: 100%;
}

.policyholder-appointment-letter__upload {
  @include border(1, solid, 'grey-200');
  @include rounded('card');
  padding: spacing('l') spacing('xl');
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.policyholder-appointment-letter__text {
  @include font('sm-emphasys');
  margin: 0 0 spacing('l') 0;

  & button > span {
    @include font('sm-emphasys');
  }
}

.policyholder-appointment-letter__submit {
  margin-top: spacing('xxl-2');
  display: flex;
  justify-content: flex-end;

  & > button {
    min-width: 19.5rem;

    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 14.5rem;
    }
  }
}
