@import 'junto-design-system/modules/junto-design-system/src/core/scss/styles.scss';

.rate-calculation {
  & button {
    padding: 0;
  }
}

.rate-calculation__final-values-wrapper {
  @include margin('l', 'none', 'l', 'none');

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & article {
    width: 50%;

    & h3 {
      @include font('xs');
      @include margin('none', 'none', 'xs', 'none');
    }

    & p {
      @include font('xl');
      margin: 0;
    }

    & h3,
    & p {
      color: color('dark');
    }

    & span {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & p {
        @include margin('none', 's', 'none', 'none');
      }
    }
  }
}
