@import 'junto-design-system/dist/core/scss/styles.scss';

.validity-and-value-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.validity-and-value-form__legal-terms {
  margin-top: spacing('xl');

  @media screen and (max-width: 568px) {
    margin-top: spacing('l');
  }
}

.validity-and-value-form__legal-terms-title {
  @include font('xs-emphasys');
  @include color('color', 'dark');
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: spacing('s');

  & > i {
    @include color('color', 'brand-primary');
    margin-right: spacing('s');
  }
}

.validity-and-value-form__legal-terms-content {
  @include font('xs');
  @include color('color', 'dark');
  margin: spacing('s') 0 spacing('xl') 0;

  @media screen and (max-width: 486px) {
    margin: spacing('s') 0 spacing('l') 0;
  }
}

.validity-and-value-form__footer {
  display: flex;
  justify-content: space-between;
  gap: spacing('m');

  & > button {
    max-width: 312px;
  }

  &--policyholder {
    justify-content: flex-end;
  }

  @media screen and (max-width: 1080px) {
    flex-wrap: wrap;

    & > button {
      max-width: 100%;
    }
  }
}

.validity-and-value-form__resume-alert {
  margin-top: spacing('m');
}
