@import 'junto-design-system/dist/core/scss/styles.scss';

.policy-in-progress__wrapper {
  align-self: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: spacing('m');
}

.policy-in-progress__tooltip {
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  padding: 0px;

  & > i {
    @include color('color', 'brand-primary');
  }
}
