@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modality-summary__wrapper {
  padding-top: spacing('xxl-2');
  padding-bottom: spacing('xxl-3');
  display: flex;
  flex-flow: row wrap;
  animation: fade-in 300ms linear;
}

.modality-summary__item {
  min-width: 192px;
  display: flex;
  flex-flow: row nowrap;
}

.modality-summary__item-icon {
  color: color('grey-400');
  display: flex;
  align-self: center;
}

.modality-summary__item-content {
  display: flex;
  flex-flow: column;
  margin-left: calc(spacing('m') + spacing('xs'));
}

.modality-summary__item-content-label {
  @include font('sm');
  color: color('grey-500');
  margin: 0px;
}

.modality-summary__item-content-value {
  @include font('base-emphasys');
  color: color('dark');
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .modality-summary__wrapper {
    padding-top: spacing('xxl');
    padding-bottom: spacing('xxl-3');
  }

  .modality-summary__item {
    min-width: 100%;
    margin-bottom: spacing('xl');
  }
}
