@import 'junto-design-system/dist/core/scss/styles.scss';

.broker_details_container__wrapper {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }

  & > div:last-child {
    height: 148vh;
  }

  @media screen and (max-width: 680px) {
    & > div:last-child {
      height: 50vh;
    }
  }
}

.broker_details_container_section_form {
  width: 960px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 176px;
  margin-right: calc(100% - 1480px);

  @media screen and (min-width: 1680px) {
    padding-top: 204px;
    margin-left: 72px;
  }
  @media screen and (min-width: 700px) and (max-width: 1000px) {
    margin-right: 250px;
  }

  & h1 {
    @include font('xl-2-emphasys');
    color: color('dark');
    margin: 0 0 24px 0;
  }

  & h2 {
    @include font('base');
    color: color('dark');
    margin: 0 0 56px 0;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 45px spacing('l') 0 spacing('l');
    height: 100%;
    & h1 {
      @include font('xl-emphasys');
      color: color('dark');
      margin: 0 0 spacing('l') 0;
      width: 280px;
    }

    & h2 {
      @include font('base');
      color: color('dark');
      margin: 0 0 spacing('xxl-3') 0;
      width: 312px;
    }
  }
}

.broker_details_container__button {
  width: 312px;
  padding-top: spacing('xxl-3');
  & button {
    width: 312px;
  }

  @media screen and (max-width: 680px) {
    padding-bottom: spacing('xxl-3');
    width: 100%;

    & button {
      width: 100%;
    }
  }
}

.broker_details_container_section_form_show_text_helper {
  padding: 0 0 32px 0;
}
