@import 'junto-design-system/dist/core/scss/styles.scss';

.ongoing-request-listitem-skeleton__wrapper {
  padding: spacing('l');
  border-bottom: 1px solid color('grey-200');
  display: grid;
  grid-template-columns: 64px 162px 154px 66px 66px 66px 34px 34px auto;
  gap: spacing('xl');
  box-sizing: border-box;
  height: 82px;

  &:last-child {
    border-bottom: none;
  }
}

.ongoing-request-listitem-skeleton__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 34px;

  &:nth-child(2),
  &:nth-child(3) {
    gap: spacing('xs');
  }
}

.ongoing-request-listitem-skeleton__queue {
  display: flex;
  flex-direction: row;
}

.ongoing-request-listitem-skeleton__queue-badge {
  height: 8px;
  width: 8px;
  background: color('grey-300');
  border-radius: 50%;
  align-self: center;
  margin-right: spacing('s');

  &--requested {
    background: color('brand-primary');
  }

  &::after {
    content: '';
  }
}
