@import 'junto-design-system/dist/core/scss/styles.scss';

.policyholder-selection__wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('l');
  width: 100%;

  & > div:last-child {
    width: 100% !important;
  }
}

.policyholder-selection__input {
  display: flex;
  flex-direction: column;
  gap: spacing('s');
}
