@import 'junto-design-system/dist/core/scss/styles.scss';

.incentive-trail-list-skeleton__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing('l');
  list-style: none;
  padding: 0;

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}
