@import 'junto-design-system/dist/core/scss/styles.scss';

.summary-chart-skeleton__wrapper {
  padding: spacing('xl') spacing('l') spacing('xxl-4') spacing('l');
  display: flex;
  flex-direction: column;
}

.summary-chart-skeleton__legend {
  margin-top: spacing('xl');
  display: flex;
  flex-direction: row;

  & > div {
    display: flex;
    flex-direction: row;
  }
}

.summary-chart-skeleton__bars {
  margin-top: spacing('xxl-3');
  padding-left: spacing('xxl');
  padding-right: spacing('xxl');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  & > div {
    height: fit-content;
    display: flex;
  }
}
