@import 'junto-design-system/dist/core/scss/styles.scss';

.header_pages_container__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header_pages_container__illustration{
  padding-top: spacing('m');

  & button{
    top: 3%;
    left: 2%;
    position: absolute;
  }
}
