@import 'junto-design-system/dist/core/scss/styles.scss';

.mapping-request-listitem-menu__wrapper {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
  justify-content: center;
  width: 18px;

  i {
    cursor: pointer;
    color: color('grey-500');
    z-index: 3;
  }
  &--open {
    display: flex;
    flex-flow: column;
    align-self: flex-end;
    justify-content: center;
    width: 18px;
    i {
      color: color('brand-primary');
    }
  }
}

.mapping-request-listitem-menu-options__container {
  position: absolute;
  margin-left: -70px;
  cursor: default;
  height: 60px;
  pointer-events: none;
}

.mapping-request-listitem-menu-options__wrapper {
  border: 1px solid color('grey-300');
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(100, 100, 100, 0.16);
  background-color: color('white');
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  left: -20px;
  margin: 50px 0px 0 -88px;
  height: 96px;
  width: 200px;
  padding: 8px 0 8px 0;
  align-items: center;
  justify-items: flex-start;
  opacity: 0;
  transform-origin: top;
  transform: translateY(-20);
  transform: scale(1, 0);
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 6;

  &--open {
    opacity: 1;
    transform: translateY(-20);
    transform: scale(1, 1);
    pointer-events: all;
  }
}

.mapping-request-listitem-menu__option {
  background-color: color('withe');
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  width: 198px;
  cursor: pointer;

  &:first-child * {
    color: color('grey-300');
    &:hover {
      color: color('grey-300') !important;
    }
  }

  &:nth-child(2) {
    &:hover {
      background-color: rgba(241, 245, 247, 0.7);
    }
  }

  i {
    color: color('brand-primary');
    margin-right: spacing('s');
    margin-left: spacing('m');
    height: 20px;
  }

  span {
    text-decoration: none !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: color('dark');
  }
}
