@import 'junto-design-system/dist/core/scss/styles.scss';


.payment-fields__wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.payment-fields__text {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0;
}

.payment-fields__installment-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing('m');

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}
