@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes rotating {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.opportunity-details-modal-confirm__title {
  @include font('base-emphasys');
  color: color('dark');
  margin-bottom: spacing('m');
  margin-top: 0px;
}

.opportunity-details-modal-confirm__data {
  padding: spacing('l');
  border-radius: spacing('xs');
  background-color: color('grey-100');
  border: 1px solid color('grey-100');
  box-sizing: border-box;
  margin-bottom: spacing('l');

  & div {
    margin-bottom: spacing('xs');
  }
}

.opportunity-details-modal-confirm__data-value {
  @include font('sm');
  color: color('dark');
  display: inline;
}

.opportunity-details-modal-confirm__data-label {
  @include font('sm');
  color: color('grey-500');
  display: inline;
  margin-right: spacing('xs');
}

.opportunity-details-modal-confirm__submit {
  & > button {
    @media screen and (min-width: 768px) {
      width: 280px;
    }
    text-align: center;
  }

  & i::before {
    animation: rotating 1s linear infinite;
    -webkit-animation: rotating 1s linear infinite;
    display: inline-block;
  }
}

.opportunity-details-modal-confirm__policyholder-feedback {
  padding-bottom: spacing('l');
  & > div {
    width: 100% !important;
  }

  &--loading,
  &--error {
    padding-bottom: 0px;
  }

  &--loading {
    & i::before {
      animation: rotating 1s linear infinite;
      -webkit-animation: rotating 1s linear infinite;
      display: inline-block;
    }
  }
}
