@import 'junto-design-system/dist/core/scss/styles.scss';

.modality-summary-skeleton__summary-row {
  display: flex;
  flex-flow: row wrap;
  margin-top: spacing('xxl-3');
  margin-bottom: spacing('xxl-3');
}

.modality-summary-skeleton__summary-item {
  display: flex;
  flex-flow: column;
  min-width: 192px;
}

@media screen and (max-width: 500px) {
  .modality-summary-skeleton__summary-row {
    margin-top: spacing('xxl');
  }

  .modality-summary-skeleton__summary-item {
    min-width: 100%;
    margin-bottom: spacing('xl');
  }
}
