@import 'junto-design-system/dist/core/scss/styles.scss';

.rate-flex-calculation__rate-flex-arrow-down-wrapper{
  padding-left:50%;
  color: color('brand-primary');
 }

 .commission-flex-calculation__commission-flex-input-wrapper{
 padding: 16px 0;
 }

 .rate-flex-calculation__rate-flex-input-wrapper{
   padding-bottom: 16px;
 }

 .rate-flex-calculation__rate-flex-arrow-up-wrapper{
   padding-left:50%;
   color: color('brand-primary');
  }

  .rate-flex-calculation__rate-flex-button-arrow-down {
   border: none;
   width: spacing('xl');
   height: spacing('xl');
   background-color: transparent;
   display: inline-flex;
   text-align: center;
   cursor: pointer;

   & i {
     color: color('brand-primary');
     align-self: center;
   }
 }
