@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.commercial-internalize__wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.commercial-internalize__reason {
  animation: fadeIn 400ms ease-in-out;
}
