@import 'junto-design-system/dist/core/scss/styles.scss';

.ongoing-mapping-request-listheader__wrapper {
  padding: spacing('l') 0px;
  display: grid;
  grid-template-columns: 127px 186px 194px 98px 98px 90px 68px 68px auto;

  & > div {
    box-sizing: border-box;

    & span {
      @include font('xs-emphasys');
      color: color('grey-500');
      text-transform: uppercase;
    }
  }
}
