@import 'junto-design-system/dist/core/scss/styles.scss';

.text_helper_componet_section_helper{
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 143px 0 24px 0;
  box-sizing: border-box;
  background-color: #F1F5F7;
  height: 100vh;

  @media screen and (min-width: 1680px) {
    width: 608px;
    padding: 184px 0 24px 0;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    height: 100%;
    padding: 48px 24px 24px 24px;
  }
}

.text_helper_componet_section_helper_text{
  width: 352px;
  padding: 0 64px 44px 64px;

  @media screen and (min-width: 1680px) {
    width: 384px;
    padding: 0 112px 44px 112px;
  }

  & h2{
    @include font('l-emphasys');
    color: color('dark');
    margin-bottom:  spacing('xs');
  }

  & p{
    @include font('base');
    color: color('dark');
    margin-bottom:  spacing('xs');
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 0 24px 44px 24px;
  }
}
