@import 'junto-design-system/dist/core/scss/styles.scss';

.additional-data-form-skeleton__wrapper {
  & > div:first-child {
    & > div:first-child {
      margin-bottom: spacing('m');
    }

    & > div:last-child {
      margin-bottom: spacing('xl');
    }
  }

  & > div:nth-child(2) {
    margin-bottom: spacing('xxl-2');
  }

  & > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    & > div:first-child {
      display: flex;
      gap: spacing('l');
    }

    & > div:last-child {
      max-width: 220px;
      margin-left: 75px;
    }

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
      flex-direction: column;
      justify-content: center;

      & > div:first-child {
        flex-direction: column;
        align-items: center;
        margin-bottom: spacing('l');
      }

      & > div:last-child {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}
