@import 'junto-design-system/dist/core/scss/styles.scss';

.contractual-conditions__header {
  & a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  & i {
    @include color('color', 'brand-primary');
  }
}

.contractual-conditions__description {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0;
}

.contractual-conditions__content {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
  margin-top: spacing('m');

  & > div:first-child {
    width: 100% !important;
  }
}

.contractual-conditions__radio-wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.contractual-conditions__text {
  @include font('sm');
  @include color('color', 'dark');
  margin: spacing('m') 0 0 0;
}

.contractual-conditions__legal-terms-title{
  @include font('xs-emphasys');
  @include color('color', 'dark');
  display: flex;
  align-items: center;

  & > i {
    @include color('color', 'brand-primary');
    margin-right: spacing('s');
  }
}

.contractual-conditions__legal-terms-content {
  @include font('xs');
  @include color('color', 'dark');
  margin: spacing('s') 0 0 0;

  @media screen and (max-width: 486px) {
    margin: spacing('s') 0 spacing('l') 0;
  }
}
