@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side-summary__wrapper {
  @include color('background-color', 'grey-100');
  width: 479px;
  padding: spacing('xxl-4');
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  overflow-y: auto;

  @media screen and (max-width: 1080px) {
    padding: spacing('xxl-4') spacing('xl');
    width: 360px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
    padding: 0px spacing('l') spacing('m') spacing('l');
    border-radius: spacing('s');
    height: 80px;
    top: initial;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;

    &--open {
      height: auto;
      overflow-y: auto;
      max-height: 40%;
    }
  }
}

.side-summary__title {
  @include font('l-emphasys');
  @include color('color', 'dark');
  margin: 0 0 spacing('xxl') 0;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.side-summary__mobile-drawer {
  position: fixed;
  height: spacing('xl');
  display: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  @include color('background-color', 'grey-100');

  @media screen and (max-width: 768px) {
    display: flex;
    width: calc(100vw - spacing('xxl-2'));
  }
}

.side-summary__mobile-indicator {
  @include color('background-color', 'grey-200');
  width: 40px;
  height: 4px;
  border-radius: spacing('s');
}

.side-summary__list-steps {
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: spacing('xl') + 4;
  }
}

.side-summary__list-step-item {
  margin-bottom: spacing('xxl');

  @media screen and (max-width: 768px) {
    margin-bottom: spacing('m');
    order: 2;

    &--editable {
      order: 1;
      margin-bottom: spacing('xl');
    }
  }
}

.side-summary__list-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & > button:last-child {
    align-self: center;
    & > i {
      transition: all 0.2s linear;
      margin-right: 0px !important;
    }
  }

  &--details-expanded {
    & > button:last-child > i {
      transform: rotate(180deg);
    }
  }
}

.side-summary__step-identification {
  @include font('base');
  @include color('color', 'dark');
  @include border(1, 'solid', 'dark');

  display: flex;
  width: 32px;
  height: 32px;
  padding: spacing('s') spacing('m');
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: spacing('s');
  box-sizing: border-box;
  margin-right: spacing('s');
  border-radius: 50%;

  &--finished {
    @include color('color', 'white');
    @include color('background-color', 'brand-primary');
    @include border(1, 'solid', 'brand-primary');
  }

  &--disabled {
    @include color('color', 'grey-400');
    @include color('background-color', 'grey-100');
    @include border(1, 'solid', 'grey-400');
  }
}

.side-summary__step-text {
  @include font('base-emphasys');
  @include color('color', 'dark');
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: spacing('l');
  white-space: nowrap;

  &--disabled {
    @include color('color', 'grey-400');
  }

  @media screen and (max-width: 1080px) {
    white-space: normal;
  }
}

.side-summary__step-details {
  padding-top: spacing('l');
  display: flex;
  flex-direction: column;
  gap: spacing('m');
  overflow: hidden;
}

.side-summary__step-details-row {
  @include color('color', 'dark');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: spacing('s') + spacing('xs');

  & > span:first-child {
    @include font('sm');
    white-space: nowrap;
    animation: fadeIn 300ms linear;
  }
  & > .side-summary__step-details-values > span {
    @include font('sm-emphasys');
    text-align: right;
    animation: fadeIn 300ms linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 6px;
  }
}

.side-summary__uploaded-documents {
  & > p {
    @include font('sm-emphasys');
    @include color('color', 'dark');
    margin: 0;
    padding-bottom: spacing('m');
  }
}

.side-summary__contacts {
  margin-top: -(spacing('l'));

  & > p {
    @include font('sm-emphasys');
    @include color('color', 'dark');
    margin: 0;
    padding-bottom: spacing('m');
  }

  @media screen and (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: spacing('l');
  }
}

.side-summary__contacts-list {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.side-summary__contacts-listitem {
  @include font('sm');
  & > p {
    margin: 0px;
  }
}

.side-summary__uploaded-documents-list {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.side-summary__uploaded-documents-listitem {
  display: flex;
  flex-direction: row;
  gap: spacing('s');
  align-items: center;
  animation: fadeIn 300ms linear;

  & > i {
    @include color('color', 'brand-primary');
  }

  & > div {
    & > p {
      @include font('sm');
      @include color('color', 'dark');
      margin: 0px;
    }

    & > span {
      @include font('xs');
      @include color('color', 'grey-500');
    }
  }
}
