@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-listitem__wrapper {
  padding: spacing('l') spacing('m');
  border-bottom: 1px solid color('grey-200');
  display: grid;
  grid-template-columns: 40px 142px 222px 142px 250px 160px;
  box-sizing: border-box;
  height: 82px;

  &--expired {
    & span,
    p {
      color: color('grey-500');
    }
  }

  &--selected {
    background-color: rgba(241, 245, 247, 0.7);
  }

  &:hover {
    background-color: rgba(241, 245, 247, 0.7);
    transition: 200ms linear;
  }

  &:last-child {
    border-bottom: none;
  }

  & > .opportunity-details-listitem__column:first-child {
    display: block;
    padding-left: spacing('xs');
  }

  & > .opportunity-details-listitem__column:last-child {
    flex-flow: row;
    justify-content: space-between;
    & > p {
      align-self: center;
    }
  }

  @media screen and (min-width: 1008px) {
    &:not(.opportunity-details-listitem__wrapper--selected)
      .opportunity-details-listitem__column:first-child {
      & > label {
        opacity: 0;
      }
    }

    &:hover {
      & .opportunity-details-listitem__column:first-child,
      .opportunity-details-listitem__column:last-child {
        & > label,
        > button {
          opacity: 1;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

.opportunity-details-listitem__column {
  align-self: center;
  display: flex;
  flex-flow: column;

  &:not(:first-child, :last-child) {
    padding-right: spacing('l') + spacing('xs');
  }
}

.opportunity-details-listitem__label {
  @include font('sm');
  color: color('dark');
  margin: 0px;
}

.opportunity-details-listitem__label-helper {
  @include font('xs');
  color: color('grey-500');
}

.opportunity-details-listitem__label-emphasys {
  @include font('sm-emphasys');
  color: color('dark');
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.opportunity-details-listitem__relevance-tag {
  @include font('xs-emphasys');
  border-radius: spacing('xs');
  padding: spacing('0') spacing('xs');
  height: spacing('m');
  display: inline-flex;
  width: fit-content;

  &--high {
    background-color: rgba(225, 248, 240, 1);
    color: color('success');
  }

  &--medium {
    background-color: rgba(255, 236, 228, 1);
    color: color('warning');
  }

  &--low {
    background-color: color('grey-200');
    color: color('grey-600');
  }

  &--expired {
    background-color: color('grey-200');
    color: color('dark');
  }
}

.opportunity-details-listitem__modal-trigger {
  border: none;
  width: spacing('xl');
  height: spacing('xl');
  background-color: transparent;
  display: inline-flex;
  text-align: center;

  & i {
    color: color('brand-primary');
    align-self: center;
  }

  @media screen and (min-width: 1008px) {
    opacity: 0;
  }
}

@media screen and (max-width: 1008px) {
  .opportunity-details-listitem__wrapper {
    width: fit-content;
  }
}
