@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-listitem__wrapper {
  padding: spacing('l');
  display: grid;
  grid-template-columns: 100px 190px 120px 240px 120px;
  column-gap: spacing('xl');
  border-bottom: 1px solid color('grey-200');

  &:hover {
    background-color: rgba(241, 245, 247, 0.7);
    transition: 200ms linear;
  }

  &:last-child {
    border-bottom: none;
  }

  &--expired {
    & span,
    p {
      color: color('grey-500');
    }
  }
}

.opportunity-details-listitem__column {
  align-self: center;
  display: flex;
  flex-flow: column;
}

.opportunity-details-listitem__label {
  @include font('sm');
  color: color('dark');
  margin: 0px;
}

.opportunity-details-listitem__label-helper {
  @include font('xs');
  color: color('grey-500');
}

.opportunity-details-listitem__label-emphasys {
  @include font('sm-emphasys');
  color: color('dark');
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.opportunity-details-listitem__relevance-tag {
  @include font('xs-emphasys');
  border-radius: spacing('xs');
  padding: spacing('0') spacing('xs');
  height: spacing('m');
  display: inline-flex;
  width: fit-content;

  &--high {
    background-color: rgba(225, 248, 240, 1);
    color: color('success');
  }

  &--medium {
    background-color: rgba(255, 236, 228, 1);
    color: color('warning');
  }

  &--low {
    background-color: color('grey-200');
    color: color('grey-600');
  }

  &--expired {
    background-color: color('grey-200');
    color: color('success');
  }
}

@media screen and (max-width: 1008px) {
  .opportunity-details-listitem__wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .opportunity-details-listitem__wrapper {
    width: fit-content;
  }
}
