@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-listitem__wrapper {
  padding: spacing('l') spacing('m');
  border-bottom: 1px solid color('grey-200');
  display: grid;
  grid-template-columns: 40px 142px 230px 154px 250px 160px;
  box-sizing: border-box;
  height: 82px;

  &--expired {
    & span,
    p {
      color: color('grey-500');
    }
  }

  &--selected {
    background-color: rgba(241, 245, 247, 0.7);
  }

  &:hover {
    background-color: rgba(241, 245, 247, 0.7);
    transition: 200ms linear;
  }

  &:last-child {
    border-bottom: none;
  }

  & > .opportunity-details-listitem__column:first-child {
    display: block;
    padding-left: spacing('xs');
  }

  & > .opportunity-details-listitem__column:last-child {
    display: grid;
    grid-template-columns: 18px 105px 36px;
    & > p {
      align-self: center;
      width: 117px;
    }
  }

  @media screen and (min-width: 1008px) {
    &:not(.opportunity-details-listitem__wrapper--selected)
      .opportunity-details-listitem__column:first-child {
      & > label {
        opacity: 0;
      }
    }

    &:hover {
      & .opportunity-details-listitem__column:first-child {
        & > label {
          opacity: 1;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

.opportunity-details-listitem__column {
  align-self: center;
  display: flex;
  flex-flow: column;

  &:not(:first-child, :last-child) {
    padding-right: spacing('l') + spacing('xs');
  }

  &:nth-child(2) {
    padding-right: spacing('m') + spacing('xs');
  }

  &:nth-child(4) {
    padding-right: spacing('xxl');

    & > p {
      align-self: flex-end;
    }
  }

  &:nth-child(5) {
    padding-right: spacing('l');
  }
}

.opportunity-details-listitem__label {
  @include font('sm');
  color: color('dark');
  margin: 0px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.opportunity-details-listitem__label-helper {
  @include font('xs');
  color: color('grey-500');
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.opportunity-details-listitem__label-emphasys {
  @include font('sm-emphasys');
  color: color('dark');
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.opportunity-details-listitem__label-icon {
  color: color('grey-400');
  margin-right: spacing('xs');
  display: inline-block;
  margin-top: spacing('xs');
  cursor: pointer;

  &--info {
    margin-right: 0px;
    margin-left: 4px;
    & > i {
      &::before {
        font-size: spacing('m') !important;
        line-height: spacing('m') !important;
      }
    }
  }
}

.opportunity-details-listitem__relevance-tag {
  @include font('xs-emphasys');
  border-radius: spacing('xs');
  padding: spacing('0') spacing('xs');
  height: spacing('m');
  display: inline-flex;
  width: fit-content;

  &--high {
    background-color: rgba(225, 248, 240, 1);
    color: color('success');
  }

  &--medium {
    background-color: rgba(255, 236, 228, 1);
    color: color('warning');
  }

  &--low {
    background-color: color('grey-200');
    color: color('grey-600');
  }

  &--expired {
    background-color: color('grey-200');
    color: color('dark');
  }
}

.opportunity-details-listitem__modal-trigger {
  border: none;
  width: spacing('xl');
  height: spacing('xl');
  background-color: transparent;
  display: inline-flex;
  text-align: center;
  cursor: pointer;
  margin-right: spacing('xs');

  & i {
    color: color('brand-primary');
    align-self: center;
  }
}

.opportunity-details-listitem__new-item {
  display: inline-flex;
  height: 6px;
  width: 6px;
  border: 2px solid #e1f8f0;
  background: color('success');
  border-radius: 50%;
  align-self: center;
  margin-right: spacing('s');
  cursor: pointer;

  &::after {
    content: '';
  }
}

@media screen and (max-width: 1008px) {
  .opportunity-details-listitem__wrapper {
    width: fit-content;
  }
}
