@import 'junto-design-system/dist/core/scss/styles.scss';

.incentive-trail-card__wrapper {
  @include border(1, 'solid', 'grey-300');
  @include rounded('card');

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: spacing('m') spacing('xs');
  max-width: 420px;
  width: 100%;
  padding: spacing('xl') spacing('l');
  box-sizing: border-box;

  & > button {
    max-width: 116.25px;
  }

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }

  @media screen and (max-width: 680px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }


  @media screen and (max-width: 540px) {
    display: flex;
    flex-direction: column;
  }
}

.incentive-trail-card__bonus {
  @include font('l-emphasys');
}

.incentive-trail-card__production {
  @include font('base');

  @media screen and (max-width: 680px) {
    justify-self: end;
  }
}

.incentive-trail-card__bonus,
.incentive-trail-card__production {
  @include color('color', 'dark');

  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: spacing('xs');
  min-width: 155px;

  & > span:nth-child(2) {
    width: fit-content;
    margin-top: spacing('xs');
  }
}

.incentive-trail-card__description {
  @include font('xs');
  @include color('color', 'grey-500');

  margin-bottom: spacing('xs');
}

.incentive-trail-card__status {
  @include font('xs-2-emphasys');
  @include color('color', 'grey-600');

  display: flex;
  align-items: center;
  margin: 0;
}

.incentive-trail-card__status-icon {
  @include color('color', 'brand-primary');

  margin-right: spacing('s');

  &--available {
    @include color('color', 'brand-primary');
  }

  &--unavailable {
    @include color('color', 'warning-base');
  }

  &--paid {
    @include color('color', 'success-base');
  }

  &--expired {
    @include color('color', 'error-base');
  }
}
