@import 'junto-design-system/dist/core/scss/styles.scss';

.policyholder-filter-selector-tags__wrapper {
  display: grid;
  grid-template-columns: 7fr 1fr;

  & > div {
    margin-top: spacing('m');
  }

  & > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 5fr 1fr;
  }
}

.policyholder-filter-selector-tags__tags-list {
  display: flex;
  flex-flow: row wrap;
}

.policyholder-filter-selector-tags__tag_wrapper {
  margin-bottom: spacing('s');
  margin-right: spacing('s');
  display: flex;

  @media screen and (max-width: 768px) {
    margin-bottom: spacing('m');
  }
}

.policyholder-filter-selector-tags__alert {
  margin-top: spacing('m');
}
