@import 'junto-design-system/dist/core/scss/styles.scss';

.create-user-access_container__wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }

  @media screen and (max-width: 680px) {
    & > div:last-child {
      height: 40vh;
    }
  }

}

.create-user-access_container_form{
  @media screen and (max-width: 680px) {
   margin: 0 spacing('l');
  }

  & > h1 {
    color: color('dark');
    @include font('xl-2-emphasys');
    margin: 0;
    padding-top: spacing('xxl-6');

    @media screen and (max-width: 680px) {
      @include font('xl-emphasys');
      padding-top: spacing('xxl-2');
    }
    }

    & > h2 {
      color: color('dark');
      @include font('base');
      margin: spacing('l') 0 spacing('xxl-3') 0 ;
    }
}

.create-user-access_container_illustration{
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 43%;
  top: 12%;

  @media screen and (max-width: 680px) {
    display: none;
  }
}

.create-user-access_container__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  margin: auto 0 ;
  margin-top: 96px;

  @media screen and (max-width: 680px) {
    margin:0 ;
    width: 100%;
  }

  @media screen and (min-width: 1680px) {
    margin-left: 112px;
  }
}
.create-user-access_container__helper{
  padding: 50px 0 45px 0 ;


  & > p{
    @include font('xs-emphasys');
    color: color('dark');
    margin-bottom:  spacing('xs');
  }
}
