@import 'junto-design-system/dist/core/scss/styles.scss';

.flex-rate-toggle__wrapper {
  display: flex;
  flex-direction: row;

  & > div:first-child {
    max-width: 170px;
  }
}

.flex-rate-toggle__info-button {
  @include color('color', 'brand-primary');
  border: none;
  background: transparent;
  padding: 0px;
  cursor: help;
}
