@import 'junto-design-system/dist/core/scss/styles.scss';


.draft-download__wrapper {
  @include color('background-color', 'grey-100');
  @include rounded('card');
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing('xl');

  @media screen and (max-width: 680px) {
    flex-direction: column;
    justify-content: center;
  }
}

.draft-download__text {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0;
  margin-right: spacing('m');
  max-width: 254px;

  @media screen and (max-width: 680px) {
    max-width: 100%;
    margin: 0 0 spacing('xxl-2') 0;
  }
}

.draft-download__button-wrapper {
  display: flex;
  gap: spacing('m');

  & > button {
    background-color: transparent;
  }

  @media screen and (max-width: 680px) {
    flex-direction: column;
    width: 100%;

   & > button {
    width: 100%;
   }
  }
}
