@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mapping-requests__wrapper {
  margin-top: spacing('xxl-2');
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  animation: fade-in 300ms linear;
}
