@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-modal__error {
  @include font('xs-emphasys');
  max-width: 100%;
  text-align: center;
  padding: spacing('m');
  margin-bottom: spacing('l');
  background-color: #ffecec;
  color: color('error-base');
}
