@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-modal__trigger {
  border: none;
  width: spacing('xl');
  height: spacing('xl');
  background-color: transparent;
  display: inline-flex;
  text-align: center;

  & i {
    color: color('brand-primary');
    align-self: center;
  }

  @media screen and (min-width: 1008px) {
    opacity: 0;
  }
}

.opportunity-details-modal__error {
  @include font('xs-emphasys');
  max-width: 100%;
  text-align: center;
  padding: spacing('m');
  margin-bottom: spacing('l');
  background-color: #ffecec;
  color: color('error');
}

.opportunity-details-modal__disclaimer {
  margin-top: spacing('xl');
  width: 100%;

  & > p {
    margin: 0px;
    @include font('xs');
    color: color('grey-500');
  }
}
