@import 'junto-design-system/dist/core/scss/styles.scss';


.payment-fields-skeleton__wrapper {
  & > div:first-child {
    margin-bottom: spacing('m');
  }

  & > div:nth-child(2) {
    margin-bottom: spacing('m');
  }

  & > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: spacing('m');
    margin-bottom: 0;

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
    }
  }
}
