@import 'junto-design-system/dist/core/scss/styles.scss';

.secured-amount__wrapper {
  @include border(1, 'solid', 'grey-400');
  @include rounded('card');
  padding: spacing('xl');
  flex-direction: column;
  display: flex;
  gap: spacing('l');

  @media screen and (max-width: 500px) {
    padding: spacing('l');
  }
}

.secured-amount__title {
  @include font('base-emphasys');
  @include color('color', 'dark');
  margin: 0 0 spacing('m') 0;
}
