@import 'junto-design-system/dist/core/scss/styles.scss';

.search-broker-federalId-wrapper{
  width: 360px;

  @media screen and (max-width: 680px) {
    width: 100%;
  }
}

.broker-information_input{
  width: 360px;

  @media screen and (max-width: 680px) {
    width: 100%;
  }
}

.broker-information_wrapper{
  margin-top: spacing('l');
}

.broker-information_label{
    @include font('xs');
    color: color('grey-500');
    margin-top: spacing('l');
}

.broker-information_content{
  @include font('base');
  font-size: 20px;
  color: color('dark');
  margin: 0;
  padding: spacing('xs')0 0 0;
}

.search-broker-federalId-button-finish_wrapper{
 padding-top: 32px;
 & button {
 width: 360px;
 }

 @media screen and (max-width: 680px) {
  & button {
    width: 100%;
    }
  }
}

.broker-information_alert{
  padding-top: 12px;
}



