@import 'junto-design-system/dist/core/scss/styles.scss';

.not-found-container__wrapper {
  text-align: center;
  max-width: 640px;
  width: 100%;
  margin: auto;
  margin-top: spacing('xxl-8');
}

.not-found-container__title {
  color: color('dark');
  @include font('xl-2');
  margin-top: spacing('xl');
  margin-bottom: spacing('xl');
}
