@import 'junto-design-system/dist/core/scss/styles.scss';

.dashboard-summary__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: spacing('xxl');
}

@media screen and (max-width: 1008px) {
  .dashboard-summary__wrapper {
    justify-content: space-evenly;
  }
}
