@import 'junto-design-system/dist/core/scss/styles.scss';

.no-access-container__wrapper {
  margin-top: spacing('xxl-5');
  max-width: 1115px;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1115px) {
    max-width: 100%;
    margin-top: spacing('xxl');
    padding-left: spacing('l');
    padding-right: spacing('l');
  }
}

.no-access-container__content {
  max-width: 570px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;

  & > h1 {
    @include font('xl-2');
    color: color('dark');
    margin-top: 0px;
    margin-bottom: spacing('m');

    & strong {
      font-weight: 900;
    }
  }

  & > h2 {
    @include font('l');
    color: color('brand-primary');
    margin-top: 0px;
    margin-bottom: spacing('s');
  }

  & > p:first-of-type {
    @include font('base');
    color: color('grey-600');
    margin-top: 0px;
    margin-bottom: spacing('xxl-2');
    text-align: justify;
  }

  & > p:last-of-type {
    @include font('base');
    color: color('dark');
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 976px) {
    width: 100%;
    max-width: 100%;

    & > h1 {
      @include font('xl');
    }
  }
}

.no-access-container__illustration {
  max-width: 410px;
  padding-top: spacing('l');
  justify-content: center;
  display: flex;


  @media screen and (max-width: 976px) {
    width: 100%;
    max-width: 100%;
    padding-top: spacing('xxl-4');
  }

  @media screen and (max-width: 1115px) {
    & > svg {
      width: 312px;
    }
  }
}
