@import 'junto-design-system/dist/core/scss/styles.scss';

.summaries-quantitative-listitem__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 304px 278px 400px;
  align-items: start;
  padding: spacing('l');
  border: 1px solid color('grey-200');
  border-top: 0;
  height: auto;

  :nth-child(3) {
    margin-right: spacing('l');
  }
}

.summaries-quantitative-listitem__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 14px;

  box-sizing: content-box;
}

.summaries-quantitative-listitem-estimate__labels {
  @include font('sm');
  color: color('grey-500');
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-bottom: spacing('m');

  button {
    margin-left: 12px;
  }

  :nth-child(2) {
    font-weight: 600;
    color: color('dark');
  }
  :last-child {
    margin-bottom: 0;
  }
}

.summaries-quantitative-listitem-tomador__label {
  @include font('sm');
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-right: 24px;
}

.summaries-quantitative-listitem-message__label {
  display: flex;
  font-weight: 600;
  text-align: center;
  border-radius: spacing('xs');
  font-size: 12px;
  padding: spacing('m');
  color: #00a881;
  background-color: #e1f8f0;

  &--alert {
    color: #c63f06;
    background-color: #fff0e8;
  }
}

.summaries-quantitative-listitem-actions__wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

  i {
    padding-left: 8px;
  }
}
