@import 'junto-design-system/dist/core/scss/styles.scss';

.internalize-documents-skeleton__wrapper {
    display: flex;
    flex-direction: column;
    gap: spacing('s');
    margin-top: spacing('s');
}