@import 'junto-design-system/dist/core/scss/styles.scss';

.summaries-quantitative-list-header__container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  h2 {
    padding: 8px 0;
  }
}

.summaries-quantitative-list-header__wrapper {
  padding: spacing('l') 0px;
  display: grid;
  border: 1px solid #cfdae1;
  padding: spacing('l');
  grid-template-columns: 304px 278px 426px;

  & > div {
    box-sizing: border-box;

    & span {
      @include font('xs-emphasys');
      color: color('grey-500');
      text-transform: uppercase;
    }
  }
}
