@import 'junto-design-system/dist/core/scss/styles.scss';

.pricing_wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('l');
}

.pricing__data {
  display: flex;
  flex-direction: column;
  gap: spacing('m');
}

.pricing__data-item {
  display: grid;
  grid-template-columns: 100px auto;

  & > p {
    display: inline-flex;
    @include font('sm');
    @include color('color', 'dark');
    margin: 0px;

    & > span {
      margin-left: spacing('s');
    }
  }

  & > p:last-child {
    justify-content: flex-end;
    @include font('sm-emphasys');
    @include color('color', 'dark');
    margin: 0px;
  }

  &--large {
    & > p:last-child {
      display: inline-flex;
      @include font('l-emphasys');
      @include color('color', 'dark');
      margin: 0px;
    }
  }
}
