@import 'junto-design-system/dist/core/scss/styles.scss';

.coverage-labor__wrapper {
  margin-top: spacing('xl');
}

.coverage-labor__content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: spacing('l');

  & > div:first-child {
    max-width: 348px;
  }
}

.coverage-labor__info-button {
  @include color('color', 'brand-primary');
  border: none;
  background: transparent;
  padding: 0px;
  cursor: help;
}
