@import 'junto-design-system/dist/core/scss/styles.scss';

.insured-data-footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: spacing('l');
  margin-top: spacing('m');

  & > button {
    max-width: 312px;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;
    margin-top: spacing('xxl');

    & > button {
      max-width: 100%;
    }
  }
}
