@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-header__wrapper {
  padding: spacing('l') spacing('m');
  display: grid;
  grid-template-columns: 40px 142px 230px 154px 250px 160px;
  border-bottom: 1px solid color('grey-200');
}

.opportunity-details-header__column {
  display: flex;
  flex-flow: row;
  align-items: center;

  & > p:first-child {
    margin-right: spacing('s');
  }

  & > div:last-child {
    display: flex;
    flex-flow: column;
  }

  &:first-child {
    padding-left: 4px;
  }

  &:nth-child(2) {
    padding-right: spacing('m') + spacing('xs');
  }

  &:nth-child(4) {
    justify-content: flex-end;
    padding-right: spacing('xxl');
  }
}

.opportunity-details-header__column-title {
  @include font('xs-emphasys');
  color: color('grey-500');
  margin: 0px;
  margin-top: spacing('xs');
}

.opportunity-details-header__order-btn {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  color: color('grey-400');
  cursor: pointer;
  height: 15px;
  width: 15px;

  &--active {
    color: color('brand-primary');
  }

  &:hover {
    color: color('brand-primary');
  }
}

@media screen and (max-width: 1008px) {
  .opportunity-details-header__wrapper {
    width: fit-content;
  }
}
