@import 'junto-design-system/dist/core/scss/styles.scss';

.search_registration_container__wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 1264px;
  min-height: 100vh;
  width: 90%;
  padding: 0 0 0 133px;
  margin: auto;

  @media screen and (max-width: 680px) {
    align-items: baseline;
    padding-left: spacing('l');
  }

  & > img{
    padding-left: 259px;

  @media screen and (max-width: 680px) {
      display: none;
  }

  }

}

.search_registration_container__illustration{
  min-height:352px ;

  @media screen and (max-width: 680px) {
    min-height:0 ;
  }

  & > svg{
    padding-top: spacing('xxl-5');
  }

  & > h1 {
    color: color('dark');
    @include font('xl-2-emphasys');
    margin: 0;
    padding-top: spacing('xxl-4');

    @media screen and (max-width: 680px) {
      @include font('xl-emphasys');
      padding-top: spacing('xl');
    }
    }

    & > h2 {
      color: color('dark');
      @include font('base');
      margin: spacing('l') 0 ;
    }
}

.search_registration_container__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 312px;
  margin: auto 0 ;

  @media screen and (max-width: 680px) {
    margin:0 ;
  }
}
.search_registration_container__helper{
  padding: 50px 0 45px 0 ;


  & > p{
    @include font('xs-emphasys');
    color: color('dark');
    margin-bottom:  spacing('xs');
  }
}
