@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-list__wrapper {
  margin-top: spacing('m');
  margin-bottom: spacing('xxl');
}

.opportunity-details-list__title {
  @include font('base-emphasys');
  margin: 0px;
}

.opportunity-details-list-title-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.opportunity-details-list__box {
  width: 100%;
  margin-top: spacing('xl');
  border: 1px solid color('grey-200');
  border-radius: spacing('xs');
}

.opportunity-details-list__total-label {
  @include font('xs');
  color: color('grey-500');
  margin: spacing('m') spacing('l');
}

.opportunity-details-list__list-container {
  overflow-x: auto;
  width: 100%;
}

.opportunity-details-list__error {
  @include font('l');
  width: 100%;
  padding: spacing('l');
  color: color('error-base');
  text-align: center;
}

.opportunity-details-list__no-results {
  padding: spacing('xxl') spacing('l');

  & > p {
    @include font('sm');
    color: color('grey-600');
    margin: 0px;
    text-align: center;
  }
}

.opportunity-details-list__no-filtered-results {
  padding: spacing('xxl-6') 0px;
  box-sizing: border-box;
  text-align: center;
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;

  & > svg {
    width: 528px;
    height: 112px;

    @media screen and (max-width: 528px) {
      width: 100%;
    }
  }

  & > h3 {
    @include font('l-emphasys');
    color: color('dark');
    margin-top: spacing('xxl');
    margin-bottom: spacing('s');
  }

  & > p {
    @include font('base');
    color: color('dark');
    margin: 0px;
    text-align: center;
  }
}
