@import 'junto-design-system/dist/core/scss/styles.scss';

.policyholder-and-modality-footer__wrapper {
  display: flex;
  justify-content: space-between;

  & > button {
    min-width: 19.5rem;
    margin-top: spacing('xl');

    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 14.5rem;
    }
  }
}
