@import 'junto-design-system/dist/core/scss/styles.scss';

.register_responsible_container__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.register_responsible_container__illustration{
  padding-top: spacing('m');

  & button{
    top: 3%;
    left: 2%;
    position: absolute;
  }
}

.register_responsible_container__title{
  width: 504px;
  margin: 0 auto;
  padding: spacing('xxl-3') 0 40px 0;
  & span{
    @include font('xl-emphasys');
  }

  @media screen and (max-width: 680px) {
    width: 312px;
    & span{
      @include font('l-emphasys');
    }
  }
}

.register_responsible_container__backStep{
  width: 80px;
  padding-left: spacing('l');
}
