@import 'junto-design-system/dist/core/scss/styles.scss';

.side-menu__wrapper {
  position: relative;
  background-color: #ffffff;
  padding: spacing('l') spacing('m');
  border-right: 1px solid #e0e7ec;
  box-shadow: inset 0px 17px 15px -9px rgba(0, 0, 0, 0.11);
  width: 32px;
  display: flex;
  flex: 1 1 auto;
  min-height: calc(100vh - 136px);
  z-index: 2;
}

.side-menu__items-wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('l');
}

.side-menu__item {
  background-color: #ffffff;
  border: none;
  border-radius: spacing('xs');
  color: color('brand-primary');
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: spacing('xl');
  height: spacing('xl');

  &:hover {
    background-color: color('brand-secondary');
  }
}
