@import 'junto-design-system/dist/core/scss/styles.scss';

.side-menu__wrapper {
  position: absolute;
  height: -webkit-fill-available;
  background-color: #ffffff;
  padding: spacing('l') spacing('m');
  border-right: 1px solid #e0e7ec;
  z-index: 1;
}

.side-menu__items-wrapper {
  display: flex;
  flex-direction: column;
  gap: spacing('l');
}

.side-menu__item {
  background-color: #ffffff;
  border: none;
  border-radius: spacing('xs');
  color: color('brand-primary');
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: spacing('xl');
  height: spacing('xl');

  &:hover {
    background-color: color('brand-secondary');
  }
}
