@import 'junto-design-system/dist/core/scss/styles.scss';

.responsible_information_wrapper{
  margin: auto;
  & div  {
    padding-top: spacing('m');
    width: 312px;
  }
  & div:nth-child(1), div:last-child{
    padding-top: 0;
  }
  & span {
    text-align: justify;
  }
}
.responsible_information_terms{
  display: flex;
  padding: spacing('l') 0 spacing('l') 2px !important;

  & span {
  @include font('sm');
  align-self: flex-end;
  }
  .span_terms{
    color: color('grey-500'); ;
  }
}

.responsible_information_button{
    padding-top: 0;
    & button{
      width: 312px;
    }
}


