@import 'junto-design-system/dist/core/scss/styles.scss';

.header__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: spacing('xxl-7');
  padding: spacing('l');
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

.header__back-button-wrapper {
  align-self: center;

  & > button {
    &:hover {
      & > span {
        text-decoration: none !important;
      }
    }
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.header__user-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: spacing('m') spacing('l');
    height: spacing('xxl-3');
    grid-template-columns: 8fr 4fr;
  }

  .header__logo-wrapper {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .header__wrapper {
    padding: spacing('m') spacing('l');
    height: spacing('xxl-3');
    grid-template-columns: 10fr 2fr;
  }
}
