@import 'junto-design-system/dist/core/scss/styles.scss';

.summary-chart-custom-tooltip__wrapper {
  width: 180px;
  min-height: spacing('xl');
  padding: spacing('m');
  box-sizing: border-box;
  border-radius: spacing('xs');
  background-color: color('white');
  z-index: 999;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
}

.summary-chart-custom-tooltip__apexchart-wrapper {
  overflow: visible !important;
  border: 1px solid color('grey-200') !important;
  box-shadow: none !important;
}

.summary-chart-custom-tooltip__content {
  display: flex;
  flex-flow: column;
}

.summary-chart-custom-tooltip_title {
  margin: 0px;
  margin-bottom: spacing('s');
  @include font('xs-emphasys');
  color: color('dark');
  word-break: normal;
  white-space: normal;
}

.summary-chart-custom-tooltip__data {
  margin-top: 0px;
  margin-bottom: spacing('xs');
  @include font('xs');
  color: color('grey-600');
  word-break: normal;
  white-space: normal;

  &:last-child {
    margin-bottom: 0px;
  }

  & span {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-right: spacing('s');
  }
}
