@import 'junto-design-system/dist/core/scss/styles.scss';

.opportunity-details-list-footer__wrapper {
  width: 100%;
  background-color: color('grey-100');
  border: 1px solid color('grey-300');
  border-radius: 0px 0px 4px 4px;
  display: grid;
  grid-template-columns: calc(1008px - 420px) 420px;

  & > div:first-child {
    padding: spacing('l');
  }

  & > div:last-child {
    padding: spacing('s');
    width: 420px;
    display: flex;
    gap: 4px;

    & > button:first-child {
      width: 187px;
      padding: 0px;
      background-color: transparent;

      & > p:first-child {
        display: none;
      }
      & > p:last-child {
        display: block;
      }
    }

    & > button:last-child {
      width: 212px;
      & > p:first-child {
        display: none;
      }
      & > p:last-child {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 10px;
        margin: 0px;
      }
    }
  }

  &--sticky {
    width: 1008px;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }

  @media screen and (max-width: 1008px) {
    grid-template-columns: 3fr 1fr;
    & > div:last-child {
      width: 100%;
    }

    &--sticky {
      width: 100%;
      left: 0;
    }
  }

  @media screen and (max-width: 680px) {
    & > div:last-child {
      & > button:first-child {
        width: 100px;
        padding: 0px 16px;

        & > p:first-child {
          display: block;
        }
        & > p:last-child {
          display: none;
        }
      }

      & > button:last-child {
        width: 135px;
        padding: 0px 24px;

        & > p:first-child {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 10px;
          margin: 0px;
        }
        & > p:last-child {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 420px) {
    & > div:first-child {
      overflow-x: hidden;
      padding-right: 0px;
      & > p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-x: hidden;
        width: 100%;
      }
    }
  }
}

.opportunity-details-list-footer__selection-counter {
  @include font('sm-emphasys');
  color: color('dark');
  display: inline-block;
  margin: 0px;

  &--warning {
    color: color('warning-base');
  }
}

.opportunity-details-list-footer__totalizer {
  @include font('sm');
  color: color('dark');
  display: inline-block;
  margin: 0px;

  @media screen and (max-width: 680px) {
    display: none;
  }
}
