@import 'junto-design-system/dist/core/scss/styles.scss';


.resolution-cnsp382__wrapper {
  margin-top: spacing('xl');

  @media screen and (max-width: 568px) {
    margin-top: spacing('l');
  }
}

.resolution-cnsp382__title {
  @include font('xs-emphasys');
  @include color('color', 'dark');
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: spacing('s');

  & > i {
    @include color('color', 'brand-primary');
    margin-right: spacing('s');
  }
}

.resolution-cnsp382__content {
  @include font('xs');
  @include color('color', 'dark');
  margin: spacing('s') 0 spacing('xl') 0;

  @media screen and (max-width: 486px) {
    margin: spacing('s') 0 spacing('l') 0;
  }
}
