@import 'junto-design-system/dist/core/scss/styles.scss';

.terms-of-acceptance-modal__header {
  margin-bottom: spacing('m');

  & > svg {
    width: 100px;
    height: 44px;
  }
}

.terms-of-acceptance-modal__content {
  max-height: calc(100vh - 340px);
  overflow-x: hidden;
  padding-right: spacing('l');
  scrollbar-width: thin;
}

.terms-of-acceptance-modal__title {
  @include font('l-emphasys');
  @include color('color', 'dark');
  margin: 0 0 spacing('m') 0;
  width: 100%;
}

.terms-of-acceptance-modal__text {
  @include font('base');
  @include color('color', 'dark');
  margin-bottom: spacing('m');
  width: 100%;
  margin-top: 0px;
}

.terms-of-acceptance-modal__awareness {
  @include font('sm-emphasys');
  @include color('color', 'dark');
  margin: 0;
}
.terms-of-acceptance-modal__footer {
  display: flex;
  justify-content: center;
  margin: spacing('xl') 0 0 0;
}
