@import 'junto-design-system/dist/core/scss/styles.scss';

.done-mapping-requests-list__wrapper {
  margin-top: 26px;
}

.done-mapping-requests-list__box {
  width: 100%;
  border: 1px solid color('grey-200');
  border-radius: spacing('xs');
}

.done-mapping-requests-list__items {
  overflow-x: auto;
  width: 100%;
}
