@import 'junto-design-system/dist/core/scss/styles.scss';

.policyholder-filter-selector__wrapper {
  margin-top: spacing('xxl-4');
  padding-bottom: spacing('xl');
  box-sizing: border-box;

  &--has-tags {
    padding-bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    margin-top: spacing('xxl-2');
  }
}

.policyholder-filter-selector__helper-text {
  @include font('base');
  color: color('grey-600');
  margin-bottom: spacing('m');
  margin-top: 0px;
}

.policyholder-filter-selector__input-grid {
  display: grid;
  grid-template-columns: minmax(320px, 4fr) minmax(216px, 1fr);
  column-gap: spacing('xxl-2');

  & > div:last-child {
    & button {
      width: 216px;
      height: spacing('xxl-4');
      line-height: spacing('m');
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;

    & > div:first-child {
      margin-bottom: spacing('l');
    }

    & > div:last-child {
      & button {
        width: 100%;
        height: spacing('xxl-4');
        line-height: spacing('m');
      }
    }
  }
}
