@import 'junto-design-system/dist/core/scss/styles.scss';

.broker-upload-documents-container__wrapper {
  display: flex;
  flex-direction: row;

  & > div:nth-child(3) {
    height: auto;
    margin-left: auto;
  }

  & svg {
    width: 73px;
    height: spacing('xl');
  }

  @media screen and(max-width: 680px) {
    flex-direction: column;
    flex-wrap: nowrap;

    & > div:nth-child(3) {
      height: auto;
      margin-left: 0;

      & div {
        width: 312px;
        padding: 0px;
      }
    }

    & svg {
      width: spacing('xxl-4');
      height: 28px;
    }
  }

  @media screen and (min-width: 1680px) {
    & > div:nth-child(3) {
      padding: 168px 0 spacing('l') 0;
    }
  }
}
