@import 'junto-design-system/dist/core/scss/styles.scss';

@keyframes rotating {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.more-opportunity-details-modal__trigger {
  border: none;
  width: spacing('xl');
  height: spacing('xl');
  background-color: transparent;
  display: inline-flex;
  text-align: center;

  & i {
    color: color('brand-primary');
    align-self: center;
  }

  @media screen and (min-width: 1008px) {
    opacity: 0;
  }

}

.more-opportunity-details-modal__content-title {
  @include font('base-emphasys');
  color: color('dark');
  margin-bottom: spacing('m');
  margin-top: 0px;
}

.more-opportunity-details-modal__opportunity-data {
  padding: spacing('l');
  border-radius: spacing('xs');
  background-color: color('grey-100');
  border: 1px solid color('grey-100');
  box-sizing: border-box;
  margin-bottom: spacing('l');

  & div {
    margin-bottom: spacing('xs');
  }
}

.more-opportunity-details-modal__field-value {
  @include font('sm');
  color: color('dark');
  display: inline;
}

.more-opportunity-details-modal__field-label {
  @include font('sm');
  color: color('grey-500');
  display: inline;
  margin-right: spacing('xs');
}

.more-opportunity-details-modal__submit-wrapper {
  & > button {
    @media screen and (min-width: 768px) {
      width: 274px;
    }
    text-align: center;
  }

  & i::before {
    animation: rotating 1s linear infinite;
    -webkit-animation: rotating 1s linear infinite;
    display: inline-block;
  }
}

.more-opportunity-details-modal__error {
  @include font('xs-emphasys');
  max-width: 100%;
  text-align: center;
  padding: spacing('m');
  margin-bottom: spacing('l');
  background-color: #ffecec;
  color: color('error');
}

.more-opportunity-details-modal__disclaimer {
  margin-top: spacing('xl');
  width: 100%;

  & > p {
    margin: 0px;
    @include font('xs');
    color: color('grey-500');
  }
}
