@import 'junto-design-system/dist/core/scss/styles.scss';

.bank_details_wrapper{
  width: 672px;
  margin: 0 auto;
  & h1{
    @include font('base-emphasys');
    margin: 0;
    padding: spacing('xxl-3') 0 spacing('xl') 0;
  }

  @media screen and (max-width: 680px) {
    width: 312px;
}
}

.bank_details__form-field{
    padding-top: spacing('m');
    width: 312px;
    padding: spacing('m') spacing('xxl-2') 0 0 ;

}

.bank_details_grid_inputs{
  display: grid;
  grid-template-columns: auto auto;

  @media screen and (max-width: 680px) {
    display: contents;
  }
}



