@import 'junto-design-system/modules/junto-design-system/src/core/scss/styles.scss';

.timeframe-coverage__wrapper {
  display: flex;
  gap: spacing('m');
}

.timeframe-coverage__form-row {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.timeframe-coverage__form-field {
  margin-bottom: spacing('l');
}
