@import 'junto-design-system/dist/core/scss/styles.scss';

.timeframe-coverage__wrapper {
  display: flex;
  gap: spacing('m');
}

.timeframe-coverage__form-row {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;

  > div {
    &:first-child {
      margin-bottom: spacing('m');
    }
  }
}
