@import 'junto-design-system/dist/core/scss/styles.scss';

.modality-summary-charts__wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: spacing('xxl-3');
  align-content: center;
  justify-content: flex-start;
  gap: spacing('xl');

  @media screen and (max-width: 1000px) {
    justify-content: center;
    gap: spacing('l');
  }
}
