@import 'junto-design-system/dist/core/scss/styles.scss';

.expired-link-container__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 24px;
}

.expired-link-container__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  @media screen and (max-width: 680px) {
    padding: 0px;
  }

}

.expired-link__signup-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 136px;

  @media screen and (max-width: 680px) {
    padding-top: 61px;
    & svg {
      width: spacing('xxl-7');
    }
  }
}

.expired-link-container__title {
  width: 544px;
  padding-top: spacing('xl');

  & span {
    @include font('xl-2-emphasys');
  }

  @media screen and (max-width: 680px) {
    width: 312px;
    & span {
      @include font('xl-emphasys');
    }
  }
}

.expired-link-container__information {
  width: 504px;
  padding: spacing('l') 0 spacing('xxl');
  & span {
    @include font('base');
    color: color('grey-600');
  }

  @media screen and (max-width: 680px) {
    width: 312px;
  }
}
