@import 'junto-design-system/dist/core/scss/styles.scss';

.ongoing-mapping-requests-listitem__wrapper {
  padding: spacing('l');
  border-bottom: 1px solid color('grey-200');
  display: grid;
  grid-template-columns: 65px 170px 162px 82px 74px 74px 34px 42px 42px auto;
  gap: spacing('l');
  box-sizing: border-box;
  height: 82px;

  &:hover {
    background-color: rgba(241, 245, 247, 0.7);
    transition: 200ms linear;
  }

  &:last-child {
    border-bottom: none;
  }
}

.ongoing-mapping-requests-listitem__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 34px;
  box-sizing: content-box;

  &:nth-child(2) {
    padding-left: spacing('m');
  }
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(8),
  &:nth-child(9) {
    padding-left: spacing('s');
  }
}

.ongoing-mapping-requests-listitem__label {
  @include font('sm');
  color: color('dark');
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 0px;

  &--emphasys {
    @include font('sm-emphasys');
  }
}

.ongoing-mapping-requests-listitem__label-helper {
  @include font('xs');
  color: color('grey-500');
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.ongoing-mapping-requests-listitem__queue {
  display: flex;
  flex-direction: row;
}

.ongoing-mapping-requests-listitem__queue-badge {
  display: flex;
  height: 8px;
  width: 8px;
  background: color('grey-300');
  border-radius: 50%;
  align-self: center;
  margin-right: spacing('s');

  &--requested {
    background: color('brand-primary');
  }

  &::after {
    content: '';
  }
}

.ongoing-mapping-requests-listitem__statuses {
  display: flex;
  flex-flow: row;
  gap: spacing('s');
}

.ongoing-mapping-requests-listitem__started-tag {
  @include font('xs-emphasys');
  border-radius: spacing('xs');
  padding: spacing('0') spacing('xs');
  height: spacing('m');
  display: inline-flex;
  width: fit-content;
  background-color: rgba(225, 248, 240, 1);
  color: color('success');
}

.ongoing-mapping-requests-listitem__priority-tag {
  @include font('xs-emphasys');
  border-radius: spacing('xs');
  padding: spacing('0') spacing('xs');
  height: spacing('m');
  display: inline-flex;
  width: fit-content;
  background-color: color('grey-100');
  color: color('grey-500');
}
