@import 'junto-design-system/dist/core/scss/styles.scss';

.search_registration_container_wrapper{
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }
}

.search_registration_container_section_form{
  width: 960px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 176px;
  margin-right: calc(100% - 1480px);

  @media screen and (min-width: 1680px) {
    padding-top: 204px;
    margin-left: 112px;
  }
  @media screen and (min-width: 700px) and (max-width: 1000px)   {
    margin-right: 250px;
  }

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }

  & div > h1{
    @include font('xl-2-emphasys');
    color: color('dark');
    margin: 0 0 24px 0;
  }

  & div > h2{
    @include font('base');
    color: color('dark');
    margin: 0 0 56px 0;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 45px 24px 0 24px;
    height: 100%;
    & div > h1{
      @include font('xl-emphasys');
      color: color('dark');
      margin: 0 0 24px 0;
    }

    & div > h2{
      @include font('base');
      color: color('dark');
      margin: 0 0 56px 0;
    }
  }


}

.search_registration_container_section_form_redirect_access{
  padding-top: 72px;

  & p{
    @include font('xs-emphasys');
    color: color('dark');
    margin-bottom:  spacing('xs');
  }
}

.search_registration_container_section_form_section{
  width: 360px;
  @media screen and (max-width: 680px) {
    width: 100%;
  }
}

.search_registration_container_section_form_show_text_helper{
  padding: 56px 0 32px 0;
}
