@import 'junto-design-system/dist/core/scss/styles.scss';

.finish-signup-container__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 680px) {
    margin: auto;
  }
}

.finish_signup__illustration {
  @media screen and (max-width: 680px) {
    & svg {
      width: spacing('xxl-7');
      height: spacing('xxl-7');
    }
  }
}

.finish_signup_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: spacing('xxl-5');

  & svg {
    width: 122px;
    height: 122px;
  }

  @media screen and (max-width: 680px) {
    margin-top: spacing('xl');
    padding: 0 spacing('l');

    & svg {
      width: spacing('xxl-7');
      height: spacing('xxl-7');
    }
  }
}

.finish-signup-container__title {
  width: 544px;
  height: spacing('xxl-7');
  padding: spacing('xl') 0 spacing('xl');

  & span {
    @include font('xl-2-emphasys');
    color: color('dark');
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    height: 68px;
    & span {
      font-size: 26px;
      line-height: 34px;
    }
  }
}

.finish-signup-container__information {
  width: 544px;
  height: 18px;
  padding: 0px 0 spacing('m');

  & span {
    @include font('sm');
    color: color('grey-600');
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 0px 0 spacing('m') 0;
    & span {
      @include font('sm');
    }
  }
}

.finish-signup-container__copy_username {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 312px;
  background-color: color('grey-100');
  min-height: 58px;

  & span {
    @include font('l-emphasys');
    word-break: break-all;
    color: color('dark');
  }

  & i {
    margin-right: 0px;
    color: color('grey-500');

    &:hover {
      color: color('brand-primary');
    }
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    & button {
      align-items: center;
      justify-content: center;
      width: spacing('xxl-2');
      height: spacing('xxl-2');
    }
  }
}

.finish-signup-container__copy_username_username {
  padding: spacing('m');
  margin: auto;
}

.finish-signup-container__copy_icon {
  padding: 0 spacing('m') 0 0;

  @media screen and (max-width: 680px) {
    padding: 0;
  }
}

.finish-signup-container__button {
  display: flex;
  margin: spacing('xxl') 0;
  justify-content: center;

  & button {
    @include font('base');
    width: 312px;
    height: spacing('xxl-4');
    font-weight: 600;
  }

  @media screen and (max-width: 680px) {
    padding: 0 spacing('l');
    & button {
      width: 100%;
    }
  }
}
