@import 'junto-design-system/dist/core/scss/styles.scss';

.create-user-form-wrapper{
  width: 360px;

  @media screen and (max-width: 680px) {
    width: calc(100% - 48px);
    margin: 0 spacing('l');
  }
}

.create-user-form-fileds{
  padding-bottom: spacing('m');
}

.create-user-form-button-finish_wrapper{
 padding-top: 32px;
 margin-bottom: 120px;
 & button {
 width: 360px;
 }

 @media screen and (max-width: 680px) {
  & button {
    width: 100%;
    }
  }
}


.create-user-form-validation_password{
  width: 100%;
  z-index: 100;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: spacing('m');

  & h1{
    @include font('xs');
    font-weight: 600;
  }
}

.create-user-form-validation_password_rule{
  display: flex;
  flex-direction: column;
  align-items: flex-start

}

.create-user-form-validation_password_rule_text_check{
  @include font('xs');
  padding-left: spacing('s');
  color: color('grey-500');
  text-decoration: line-through;
}

.create-user-form-validation_password_rule_text_not_check{
  @include font('xs');
  padding-left: spacing('s');
}

.create-user-form-alert{
  padding-top: spacing('m');
}
