@import 'junto-design-system/dist/core/scss/styles.scss';

.incentive-trail-accept-modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > button {
    width: 100%;
  }
}

.incentive-trail-accept-modal__title {
  @include font('l-emphasys');
  @include color('color', 'dark');

  margin: 0;
  margin-bottom: spacing('m');
  text-align: center
}

.incentive-trail-accept-modal__text {
  @include font('base');
  @include color('color', 'dark');

  margin: 0;
  text-align: center
}

.incentive-trail-accept-modal__terms {
  @include font('xs');
  @include color('color', 'dark');

  display: flex;
  align-items: center;
  margin: spacing('xl') 0;
}
